.side-bar.clearfix
  .side-bar__user-name
    .top-items
      .top-items__name
        /masa
        =current_user.name
      .top-items__icons
        =link_to new_group_path, class: "group-icon" do
          = icon('fas', 'edit')
        =link_to edit_user_path(current_user), class: "account-icon" do
          = icon('fas', 'cog')
  
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-list-items
        = link_to '#' do
          .group-list-items__name
            = group.name
          .group-list-items__message
            テスト投稿。
 