.side-bar
  .side-bar__user-name
    /side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        =link_to "#", class: "group-icon" do
          = icon('far', 'edit')
        =link_to "#", class: "account-icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    side-bar__group-list
    .group-list-items
      group-list-items