.side-bar.clearfix
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        =link_to "#", class: "group-icon" do
          = icon('fas', 'edit')
        =link_to "#", class: "account-icon" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .group-list-items
      .group-list-items__name
        group01
      .group-list-items__message
        テスト投稿。。
    /Dummy01
    .group-list-items
      .group-list-items__name
        Dummy01
      .group-list-items__message
        ダミー投稿。
    /Dummy02
    .group-list-items
      .group-list-items__name
        group02
      .group-list-items__message
        ダミー投稿。。
    /Dummy03
    .group-list-items
      .group-list-items__name
        group03
      .group-list-items__message
        ダミー投稿。。。
